<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bitcamp.pms.dao.BusinessCardDao">
    
    <!-- 컬럼명과 객체의 프로퍼티명을 연결한다. -->
    <resultMap type="bitcamp.pms.domain.BusinessCard" id="bsMap">
        <id column="no" property="no"/>
        <result column="mno" property="writer.no"/>
        <result column="name" property="name"/>
        <result column="tel" property="tel"/>
        <result column="fax" property="fax"/>
        <result column="email" property="email"/>
        <result column="memo" property="memo"/>
    </resultMap>
    
    <insert id="insert" parameterType="bitcamp.pms.domain.BusinessCard">
        insert into tb_bscard(mno,name,tel,fax,email,memo)
        values(#{writer.no},#{name},#{tel},#{fax},#{email}, #{memo})
    </insert>

    <select id="selectList" resultMap="bsMap" parameterType="map">
        select no, name, mno
        from tb_bscard
<!--        <if test="startIndex != null and pageSize != null">
            limit #{startIndex}, #{pageSize}
        </if>-->
        where mno=#{writerNo}
    </select>

    <select id="selectOne" resultMap="bsMap" parameterType="int">
        select mno, name, tel, fax, email, memo
        from tb_bscard
        where no=#{value}
    </select>
</mapper>